body {
    font-family: 'Courier New', Courier, monospace;
}

table {
    border: 1px solid black;
    border-spacing: 0px;
    table-layout: fixed;
}  

td {
    border: 1px solid black;
}

.headers {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.contents {

}

.cellContentDiv {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.textDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.inputDiv {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.boldBtn {
    font-weight: bold;
}

.italicBtn {
    font-style: italic;
}

.underlineBtn {
    text-decoration: underline;
}

.refreshBtn {
    padding: 10px;
    margin: 10px 0 10px 0;
}



